{% extends 'base.html' %}
{% block css %}
{% endblock %}

{% block menu %}
    {% include "menu.html" %}
{% endblock %}

{% block content %}
    <div class="block">
        <h2>Error 404. Page not found!</h2>
    </div>
{% endblock %}