<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block css %}{% endblock %}
    {% include "style-base.html" %}
    {% include "style-sticky-footer.html" %}
</head>
<body>
    {% block menu %}{% endblock %}
    {% block content %}{% endblock %}
    <footer class="footer">Teleport 2021</footer>
</body>
</html>