{% extends 'base.html' %}

{% block css %}
    {% include "style-contact.html" %}
{% endblock %}


{% block menu %}
    {% include "menu.html" %}
{% endblock %}

{% block content %}
    <div class="contact block">
        <h1>Write to us!</h1>
        <div class="container">
            <form action="" method="post">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" placeholder="Your name..">

                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Your email..">

                <label for="country">Country</label>
                <select id="country" name="country">
                <option value="russia">Russia</option>
                <option value="usa">USA</option>
                </select>

                <label for="subject">Subject</label>
                <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
{% endblock %}
