{% extends 'base.html' %}

{% block css %}
    {% include "style-store.html" %}
{% endblock %}

{% block menu %}
    {% include "menu.html" %}
{% endblock %}

{% block content %}
    {% if error %}
        <h1>{{ error }}</h1>
    {% else %}
        <h1>{{name}} courses:</h1>
        <a href="/courses/create/?id={{id}}"><button type="button" class="btn add">Add new course</button></a>
        <div class="items">
            {% for obj in objects_list %}
            <div class="block">
                <div class="itemTitle">{{ obj.name }}</div>
<!--                <a href="/copy-course/?name={{obj.name}}&course={{name}}&id={{id}}">Copy this course</a>-->
                <div class="itemDesc">Short description.</div>
                <div class="buttons">
                    <button class="btn add">Add to cart</button>
                    <button class="btn like">Add to favorite</button>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
