{% extends 'base.html' %}

{% block css %}
    {% include "style-store.html" %}
{% endblock %}

{% block menu %}
    {% include "menu.html" %}
{% endblock %}

{% block content %}
    <div class="block">
        <div class="container">
            <form action="" method="post">
                <input type="text" id="name" name="name" placeholder="Category name..">
                <input type="submit" class="btn add" value="Add new category">
            </form>
        </div>
    </div>
{% endblock %}
