{% extends 'base.html' %}

{% block css %}
    {% include "style-store.html" %}
{% endblock %}

{% block menu %}
    {% include "menu.html" %}
{% endblock %}

{% block content %}
    {% if error %}
        <h1>{{ error }}</h1>
    {% else %}
        <h1>Create course for category {{name}}</h1>
        <div class="block">
            <div class="container">
                <form action="" method="post">
                    <input type="text" id="name" name="name" placeholder="Course name..">
                    <input type="hidden" id="category_id" name="category_id" value="{{id}}">
                    <input type="submit" class="btn add" value="Add new course">
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}
