{% extends 'base.html' %}

{% block css %}
    {% include "style-store.html" %}
{% endblock %}

{% block menu %}
    {% include "menu.html" %}
{% endblock %}

{% block content %}
    <a href="/categories/create/"><button type="button" class="btn add">Add new category</button></a>
    <h2>Course categories</h2>
    <div class="items">
        {% for obj in objects_list %}
            <div class="block">
                {{ obj.name }}
                <p><a href="/courses/?id={{obj.id}}">Show {{obj.course_count()}} {{obj.name}} courses</a></p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
