{% extends 'base.html' %}

{% block css %}
    {% include "style-login.html" %}
{% endblock %}


{% block menu %}
    {% include "menu.html" %}
{% endblock %}

{% block content %}
    <div class="log-in">
        <h1>Log in</h1>
        <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <button type="submit">Login</button>
            <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </div>
{% endblock %}
