<div class="menu">
    <ul>
        <li><a href="/">News</a></li>
        <li><a href="/categories">Courses</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li style="float: right"><a href="/login">Log in</a></li>
    </ul>
</div>